*{ /* Mise à zéro des marges */
    margin: 0;
}
/* Rectangle Vert */
.green
{
    background-color: chartreuse;
    width: 80%;
    height: 50px;
    display: flex;
    float: left;
}

/* Rectangle bleu */
.blue
{
    background-color: blue;
    width: 20%;
    height: 50px;
    display: flex;
    float: left;
}

/* Rectangle rouge */
.red
{
    background-color: red;
    width: 40%;
    height: 150px;
    display: flex;
    float: left;
}

/* Rectangle orange */
.ora
{
    background-color: orange;
    width: 30%;
    height: 75px;
    display: flex;
    float: left;
}

/* Rectangle bleu clair */
.bluec
{
    background-color: skyblue;
    width: 30%;
    height: 75px;
    display: flex;
    float: left;
}

/* Rectangle jaune */
.yellow
{
    background-color: yellow;
    width: 20%;
    height: 75px;
    display: flex;
    float: left;
}

/* Rectangle vert foncé */
.greenf
{
    background-color:mediumseagreen;
    width: 20%;
    height: 75px;
    display: flex;
    float: left;
}

/* Rectangle orange foncé */
.oraf
{
    background-color: orangered;
    width: 20%;
    height: 75px;
    display: flex;
    float: left;
}

/* Rectangle noir */
.black
{
    background-color:darkslategrey;
    width: 100%;
    height: 200px;
    display: flex;
    float: left;
}