html{
    width: 100%;
}
body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* Rectangle Vert */
.green
{
    background-color: chartreuse;
    width: 80%;
    height: 50px;  
}

/* Rectangle bleu */
.blue
{
    background-color: blue;
    width: 20%;
    height: 50px;
    
    
}
/* Rectangle rouge */
.red
{
    background-color: red;
    width: 40%;
    height: 150px;
}

.bloc{
    width: 60%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

/* Rectangle orange */
.ora
{
    background-color: orange;
    width: 50%;
    height: 75px;
}

/* Rectangle bleu clair */
.bluec
{
    background-color: skyblue;
    width: 50%;
    height: 75px;
   
    
}

/* Rectangle jaune */
.yellow
{
    background-color: yellow;
    width: 33%;
    height: 75px;
    
   
}

/* Rectangle vert foncé */
.greenf
{
    background-color:mediumseagreen;
    width: 33%;
    height: 75px;
    
    
}

/* Rectangle orange foncé */
.oraf
{
    background-color: orangered;
    width: 33%;
    height: 75px;
    
    
}

/* Rectangle noir */
.black
{
    background-color:darkslategrey;
    width: 100%;
    height: 200px;
    

}