*{
    margin: 0;
}
.green
{
    background-color: chartreuse;
    width: 80%;
    height: 50px;
    display: flex;
    float: left;
}
.blue
{
    background-color: blue;
    width: 20%;
    height: 50px;
    display: flex;
    float: left;
}
.red
{
    background-color: red;
    width: 40%;
    height: 150px;
    display: flex;
    float: left;
}
.ora
{
    background-color: orange;
    width: 30%;
    height: 75px;
    display: flex;
    float: left;
}
.bluec
{
    background-color: skyblue;
    width: 30%;
    height: 75px;
    display: flex;
    float: left;
}
.yellow
{
    background-color: yellow;
    width: 20%;
    height: 75px;
    display: flex;
    float: left;
}
.greenf
{
    background-color:mediumseagreen;
    width: 20%;
    height: 75px;
    display: flex;
    float: left;
}
.oraf
{
    background-color: orangered;
    width: 20%;
    height: 75px;
    display: flex;
    float: left;
}
.black
{
    background-color:darkslategrey;
    width: 100%;
    height: 200px;
    display: flex;
    float: left;
}